h1:not(:first-child) {
	margin-top: 3rem;
}

h1, p {
	text-indent: 2rem;
}

p {
	padding: 0 10px 0 10px;
	text-align: justify;
}

p:nth-child(4n) {
	text-align: center;
}

p:nth-child(3n) {
	text-align: right;
}

li:nth-child(1) {
	color: rgb(144, 238, 144);
}

li:nth-child(2) {
	color: rgb(0, 255, 127);
}

li:nth-child(3) {
	color: rgb(0, 255, 0);
}

li:nth-child(4) {
	color: rgb(0, 128, 0);
}

li:nth-child(5) {
	color: rgb(0, 100, 0);
}

.Web-design {
	color: red;
	font-family: "Gill Sans", sans-serif;
	font-style: italic;
}

.point {
	color: #0AB000;
	font-weight: bold;
}

