form {
    width: 700px;
}

fieldset {
    padding: 2rem 5rem;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-text {
    display: flex;
    align-items: center;
}

.form-btn {
    text-align: right;
}

