body {
	background: grey;
}

.box {
	width: 90%;
	height: 90vh;
	margin: 0 auto;

	position: relative;
	border: solid;
}

.red, .yellow, .green {
	width: 300px;
	height: 125px;
	margin: 20px;

	position: absolute;
	border: solid;
}

.red {
	background: red;
}

.yellow {
	background: yellow;

	top: calc(50% - 75px);
	left: calc(50% - 200px);
}

.green {
	background: green;

	bottom: 0;
	right: 0;
}